html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error {
  padding: 1.5em;
  font-size: 14px;
  color: white;
  background-color: red;
}

section {
  padding-bottom: 20px;
}
li {
  display: block;
  margin-bottom: 10px;
}
div {
  align-items: center;
  display: flex;
}
a {
  font-size: 14px;
  margin-right: 10px;
  text-decoration: none;
  padding-bottom: 0;
  border: 0;
}
span {
  font-size: 14px;
  margin-right: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
button:before {
  align-self: center;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
  content: '';
  height: 0;
  margin-right: 5px;
  width: 0;
}
